/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
  line-height: 1.5;
}
.overflowX {
  position: relative;
  overflow-x: hidden;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #263238;
}
.svg__bg img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  z-index: -1;
}
/* -------Navbar------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  margin: 0 22px;
  transition: all 0.2s ease;
}
.navbar ul li:hover {
  color: #008000;
}
.logo h3 {
  font-size: 24px;
}
.navbar__btns a {
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.navbar__btns a:hover {
  opacity: 0.9;
}
.navbar__btns a:last-child {
  color: #fff;
  background: #008000;
}
.navbar__btns a:first-child {
  border: 1px solid #263238;
}
.email {
  position: relative;
}
.email a {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  background: #008000;
  margin: 5px 5px 0 0;
}
.hamburger {
  display: none;
}
/* Responsive Navbar */
@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hamburger span {
    width: 30px;
    height: 2px;
    background: #263238;
    margin-top: 5px;
  }
  .hamburger span:first-child {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  nav {
    justify-content: space-between;
    margin: 50px;
  }
  .navbar__btns {
    display: none;
  }
}
/* -------Main Header------- */
.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
.main__container h1 {
  font-weight: 700;
  font-size: 70px;
  max-width: 923px;
  line-height: 78px;
  margin-top: 4rem;
}
.main__container h1 span {
  color: #008000;
}
.main__container p {
  max-width: 725px;
  margin: 70px 0 50px 0;
}
.email input {
  padding: 20px 350px 20px 25px;
  border: none;
  border-radius: 10px;
}
.email input:focus {
  outline-style: none;
}
/* Responsive Main Header */
@media (max-width: 840px) {
  .main__container h1 {
    font-size: 50px;
    max-width: 623px;
  }
  .main__container p {
    max-width: 525px;
  }
}
@media (max-width: 600px) {
  .main__container h1 {
    font-size: 40px;
    max-width: 523px;
    line-height: 58px;
    margin-top: 2rem;
  }
  .email {
    width: 100%;
  }
  .email input {
    max-width: 100%;
    margin: 0 auto;
  }
  .email a {
    top: 100%;
    margin: 5px 10px 0 0;
  }
}
@media (max-width: 376px) {
  .main__container h1 {
    margin-top: 0;
  }
  .main__container p {
    margin: 30px 0;
  }
  nav {
    justify-content: space-between;
    margin: 30px;
  }

  .card__container .card h2 {
    font-size: 36px !important;
    max-width: 350px !important;
  }
  .reverse .card__Rev p {
    max-width: 360px !important;
  }
  .card__txt {
    max-width: 300px !important;
  }
}
/* -------Market------- */
.market {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 200px 20px;
}
.market img {
  width: 175px;
}
@media (max-width: 1000px) {
  .market {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 200px 20px 250px 20px;
  }
  .market img {
    margin: 40px;
  }
}
/* -------Card------- */
.card__container {
  display: flex;
  justify-content: center;
  margin: 0 3rem 200px 3rem;
}
.card__container .card {
  max-width: 574px;
}
.card__container .card h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}
.card__container .card span {
  color: #008000;
}
.card__container .card p {
  font-weight: 400;
  font-size: 18px;
  margin-right: 1rem;
}
.card__box {
  display: flex;
}
@media (max-width: 1420px) {
  .card__images {
    flex-direction: column;
  }
  .img__reverse {
    flex-direction: row-reverse;
  }
  .card__image_4 img {
    border-radius: 20px;
  }
  .card__image_4 {
    margin-top: 1rem;
  }
  .footer__box_2 {
    display: none;
  }
}
@media (max-width: 1070px) {
  .card__container {
    flex-direction: column;
    align-items: center;
  }
  .margin__top {
    margin-top: 2rem;
  }
}
@media (max-width: 770px) {
  .card__image_4 {
    flex-direction: column;
  }
  .card__image_4:first-child {
    margin-right: 0 !important;
  }
  .card__txt {
    max-width: 500px;
  }
}
@media (max-width: 660px) {
  .card__container .card h2 {
    font-size: 45px;
    line-height: 50px;
    max-width: 500px;
  }
  .reverse .card__Rev p {
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  .card__box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card__text {
    margin-bottom: 2rem;
  }
  .card {
    text-align: center;
  }
}
@media (max-width: 520px) {
  .card__img img {
    width: 100%;
  }
  .card__image img {
    width: 100%;
  }
}
.image__box {
  width: 110px;
  height: 110px;
  margin: 10px 20px 0 0;
  text-align: center;
  position: relative;
}
.number__bg {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  text-align: center;
  position: relative;
}
.number__bg::after {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 64px;
  height: 64px;

  border-radius: 50%;
  background: rgba(0, 128, 0, 0.1);
}
.image__box::after {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: rgba(0, 128, 0, 0.1);
}
.card__wrapper {
  margin-top: 4rem;
}
.wrp__2 {
  margin-bottom: 2rem;
}
.card__text {
  max-width: 348px;
}
.card__text h4 {
  font-size: 20px;
  font-weight: 700;
}
.card__image {
  background: rgba(0, 128, 0, 0.05);
  border-radius: 20px;
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__image img {
  max-width: 500px;
}
.mgn__left {
  margin-left: 2rem;
}
.mgn__top_bt {
  margin: 1rem 0 2rem 0;
}
.ask {
  background: rgba(0, 128, 0, 0.05);
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 24px 100px 24px 30px;
  position: relative;
}
.ask:last-child {
  margin-bottom: 0;
}
.ask h3 {
  color: #263238;
}
.ask img {
  position: absolute;
  top: 40%;
  right: 5%;
}
.card__img img {
  max-width: 580px;
}
.mgn__top {
  margin-top: 20px;
}
.reverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reverse .card__Rev {
  max-width: 1088px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reverse .card__Rev p {
  margin: 32px 48px;
  width: 563px;
}
.card__images {
  display: flex;
}
.card__image_4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 686px;
  background: rgba(0, 128, 0, 0.05);
  border-radius: 20px;
}
.card__image_4:first-child {
  margin-right: 48px;
}
.card__image_txt {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
.txt__name {
  font-weight: 600;
  font-size: 18px;
}
.card__btn {
  width: 221px;
  height: 64px;
  padding: 16px 70px;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  margin-top: 70px;
  background: #008000;
}
/* App Section */
.app__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 1406px;
  height: 370px;
  background: rgba(0, 128, 0, 0.05);
  border-radius: 20px;
  margin-bottom: 200px;
}
.app__container span {
  color: #008000;
}
.app__container h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 63px;
  max-width: 760px;
}
.app__box {
  margin-top: 50px;
}
@media (max-width: 550px) {
  .app__container h2 {
    font-size: 46px;
    line-height: 53px;
  }
}
@media (max-width: 414px) {
  .app__container h2 {
    font-size: 30px;
    line-height: 43px;
    max-width: 300px;
  }
  .app__box {
    display: flex;
    flex-direction: column;
  }
  .app__box img {
    margin-bottom: 1rem;
  }
}
.section {
  transition: all 1s ease-in;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
/* Footer */
footer {
  position: relative;
}
.footer__box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 460px;
  background: rgba(242, 248, 242, 0.5);
}
.footer__box_1 {
  width: 352px;
}
.footer__box_1 img {
  margin-bottom: 24px;
}
.footer__box_2 {
  width: 533px;
}
.footer__box_2 .email a {
  margin: 5px -7px 0 0;
}
.footer__box_2 p {
  margin-bottom: 24px;
}
.footer__box_3 p {
  margin-bottom: 24px;
  color: #263238;
  font-weight: 700;
}
.footer__box_4 p {
  margin-bottom: 24px;
}
.footer__contact {
  color: #263238;
  font-weight: 700;
}
.footer__top {
  margin-top: 68px;
}
.footer__line {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  border: 1px solid rgba(38, 50, 56, 0.31);
}
.footer__links {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 6rem 56px 6rem;
}
.link__position ul {
  display: flex;
}
.link__position ul li {
  margin-left: 40px;
  font-size: 14px;
}
.copyright h5 {
  color: #263238;
  font-size: 12px;
}
@media (max-width: 750px) {
  .footer__box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 360px;
  }
  .footer__top {
    margin-top: 5px;
  }
  .footer__box_4,
  .footer__box_3,
  .link__position {
    display: none;
  }
  .footer__links {
    padding: 0;
    margin-bottom: 3rem;
    justify-content: center;
  }
}
